*{
    display: block;
    justify-content: center;
}

:host{
    display: grid;  
    width:100vw;
    justify-content: center;
    background-color:rgb(39, 152, 160);
    height: 100vh;
}

body{
    display: flex;
    justify-content: center;
}



