
<div class="container full-page-container">
   
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-8 text-center fadeIn animated">          
          
        <h1 class="homepage-title">ORG <b>PRO</b></h1> 
        <p class="homepage-text">Optimizing Student Organization Performance</p>
        <button mat-button routerLink="/login" routerLinkActive="active">ENTER ORG <b>PRO</b></button>
        </div>
      </div>
</div>
<router-outlet></router-outlet>