div.page-contents{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:rgb(39, 152, 160);
}
.mat-toolbar.mat-primary {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white; 
}