<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<link href="https://unpkg.com/bootstrap-css-only@4.4.1/css/bootstrap.min.css" rel="stylesheet">


<body>
<div class = calendar-container>
<div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4" style="align-self: right;">
      <button class="btn btn-primary pull-right" (click)="openAddDialog()">
        Add New Event
      </button>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>
  
  <ng-template #modalAdd let-close="close">
    <mat-dialog-content>
      <div class = "dialog-header">
        <mat-card-title style="display:inline"> Add Event</mat-card-title>
        <button mat-stroked-button class="close-icon" [mat-dialog-close]="true" style="margin-left:57%; padding:0">
          <mat-icon>close</mat-icon>
        </button>
      <br>
      </div>  
      <div class = "dialog-content">
        <table>
          <tr>
            <td>Title:</td>
            <td><input
              type="text"
              class="form-control"
              [(ngModel)]="newEventTitle"
              (keyup)="refresh.next()"
              size="30"
            /> </td>
          </tr>
          <tr>
            <td>Start Date (YYYY/MM/DD):</td>
            <td>
              <input
              type="text"
              class="form-control"
              [(ngModel)]="newEventStart"
              (keyup)="refresh.next()"
              size="30"
            />
            </td>
          </tr>
          <tr>
            <td>End Date (YYYY/MM/DD):</td>
            <td>
              <input
              type="text"
              class="form-control"
              [(ngModel)]="newEventEnd"
              (keyup)="refresh.next()"
              size="30"
              placeholder="Optional"
            />
            </td>
          </tr>
          <tr>
            <td>Start Time (with AM/PM):</td>
            <td>
              <input
              type="text"
              class="form-control"
              [(ngModel)]="newEventStartTime"
              (keyup)="refresh.next()"
              size="30"
            />
            </td>
          </tr>
          <tr>
            <td>End Time (with AM/PM):</td>
            <td>
              <input
              type="text"
              class="form-control"
              [(ngModel)]="newEventEndTime"
              (keyup)="refresh.next()"
              size="30"
            />
            </td>
          </tr>
          <tr>
            <td>
              Location:
            </td>
            <td>
              <input
              type="text"
              class="form-control"
              [(ngModel)]="newEventLocation"
              (keyup)="refresh.next()"
              size="30"
            />
            </td>
          </tr>
          <td style="vertical-align:middle;">Description:</td>
          <td>
            <textarea
              type="text"
              class="form-control"
              [(ngModel)]="newEventDescription"
              (keyup)="refresh.next()"
              rows = "10"
              cols= "29.5"
              placeholder = "Short Description of the Event"
              > </textarea>
          </td>
        </table>
        <button mat-raised-button class="btn btn-primary pull-right" (click)="addEvent()"  [mat-dialog-close]="true" style="margin-left: 42%; background-color:black; color:white">
          Add Event
        </button>
        <div class="clearfix"></div>
      </div>
    </mat-dialog-content>
  </ng-template>
</div>

  <!-- Dialog Box for Edit -->
  <ng-template #modalEdit let-close="close">
    <mat-dialog-content>
      <div class = "dialog-header">
        <mat-card-title style="display:inline"> Edit Event</mat-card-title>
        <button mat-stroked-button class="close-icon" [mat-dialog-close]="true" style="margin-left:58%; padding:0">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <br>
      <div class = "dialog-content">
        <table>
          <tr>
            <td>Title: </td>
            <td>
              <input
              type="text"
              class="form-control input-area"
              [(ngModel)]="editEventTitle"
              (keyup)="refresh.next()"
              size = "30"
            />
            </td>
          </tr> 
          <tr>
            <td>Start Date (YYYY/MM/DD):    </td>
            <td>
              <input
              type="text"
              class="form-control input-area"
              [(ngModel)]="editEventStart"
              (keyup)="refresh.next()"
              size = "30"
            />
            </td>
          </tr>
          <tr>
            <td>End Date (YYYY/MM/DD): </td>
            <td>
              <input
              type="text"
              class="form-control input-area"
              [(ngModel)]="editEventEnd"
              (keyup)="refresh.next()"
              size = "30"
              placeholder="Optional"
            />
            </td>
          </tr>
          <tr>
            <td>Start Time (with AM/PM):</td>
            <td>
              <input
              type="text"
              class="form-control"
              [(ngModel)]="editEventStartTime"
              (keyup)="refresh.next()"
              size="30"
            />
            </td>
          </tr>
          <tr>
            <td>End Time (with AM/PM):</td>
            <td>
              <input
              type="text"
              class="form-control"
              [(ngModel)]="editEventEndTime"
              (keyup)="refresh.next()"
              size="30"
            />
            </td>
          </tr>
          <tr>
            <td>Location: </td>
            <td>
              <input
                type="text"
                class="form-control input-area"
                [(ngModel)]="editEventLocation"
                (keyup)="refresh.next()"
                size = "30"
              />
            </td>
          </tr>
          <tr>
            <td>Description: </td>
            <td>
              <textarea
              type="text"
              class="form-control"
              [(ngModel)]="editEventDescription"
              (keyup)="refresh.next()"
              rows = "9"
              cols= "29.5"
              placeholder = "Short Description of the Event"
              > </textarea>
            </td>
          </tr>
        </table>
      
        <button mat-raised-button class="btn btn-primary pull-right" (click)="confirmEdit()"  [mat-dialog-close]="true" style="margin-left: 42%; background-color:black; color:white">
          Edit Event
        </button>
        <br>
      </div>
    </mat-dialog-content>
  </ng-template>

  <ng-template #modalContent let-close="close" >
    <mat-dialog-content style="display: flex; flex-direction: column;text-align: center;">
      <div class="dialog-header">
        <mat-card-title>{{modalData.event.title}}</mat-card-title>
        <mat-card-subtitle>{{modalData.event.startTime}} - {{modalData.event.endTime}}</mat-card-subtitle>
      </div>
      <div class="dialog-body">
        <div>
          Action:
          <pre>{{ modalData?.action }}</pre>
        </div>
        <div>
          Event:
          <pre>{{ modalData?.event | json }}</pre>
        </div>
      </div>
      <mat-dialog-actions>
        <button mat-raised-button class="btn btn-primary pull-right" (click)="confirmEdit()"  [mat-dialog-close]="true" style="margin-left: 42%; background-color:black; color:white">
          OK
        </button>
      </mat-dialog-actions>
    </mat-dialog-content>
  </ng-template>

  <context-menu #basicMenu>
    <ng-template contextMenuItem (execute)="openAddDialog()">
      Add event
    </ng-template>
  </context-menu>

  <ng-template
  #monthCellTemplate
  let-day="day"
  let-openDay="openDay"
  let-locale="locale"
  let-tooltipPlacement="tooltipPlacement"
  let-highlightDay="highlightDay"
  let-unhighlightDay="unhighlightDay"
  let-eventClicked="eventClicked"
>
  <div
    class="fill-height"
    [contextMenu]="basicMenu"
    [contextMenuSubject]="day.date"
  >
    <div class="cal-cell-top">
      <span class="cal-day-badge" *ngIf="day.badgeTotal > 0"
        >{{ day.badgeTotal }}</span
      >
      <span class="cal-day-number"
        >{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span
      >
    </div>
    <div class="cal-events">
      <div
        class="cal-event"
        *ngFor="let event of day.events"
        [style.backgroundColor]="event.color.primary"
        [ngClass]="event?.cssClass"
        (mouseenter)="highlightDay.emit({event: event})"
        (mouseleave)="unhighlightDay.emit({event: event})"
        [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
        [tooltipPlacement]="tooltipPlacement"
        (click)="$event.stopPropagation(); eventClicked.emit({event: event})"
      ></div>
    </div>
  </div>
</ng-template>
</body>