<mat-card class="card-container" style="background-color:#404040;margin-left:15%;margin-right: 15%;color: white;border-radius: 20px">
  <h2 style="text-align: center; font-family: 'Montserrat', sans-serif;">Welcome to OrgPro {{this.userName}} !</h2>
  <h2 style="font-family: 'Montserrat', sans-serif; text-align: center;color:#f4c430">Your Organizations </h2>
  <mat-list-item style="text-align: center;cursor: pointer;width:50%;" *ngFor="let org of orgs" (click)="handleOrgClick(org.id)">
    {{ org.id }}      {{org.role}}
    <br>
    <br>
  </mat-list-item>
</mat-card>