
  :host {
    height: 100%;
    margin: 0; padding: 0; border: 0;
}

  .mat-tab-navbar {
    background-color: black;
  }

  .mat-tab-link { 
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

  }
  .example-container {
    height: 100%;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .example-sidenav-content {

   
    width: auto; 
    height: 100%;
    margin: 100px;
  
	  vertical-align: top;
    
  }
  .example-sidenav {
    height: 100%;
    user-select: none;
  }
  .full-width {
    width: 100%;
  }
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
    
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }
