
  :host {
    height: 100%;
    margin: 0; padding: 0; border: 0;
}

  .mat-tab-navbar {
    background-color: black;
  }

  .mat-tab-link { 
    color: gold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

  }