  :host{
      display: block;
      height: 40px;
      width: 100%;
      margin-bottom:75px; 
     
  }

  .mat-toolbar.mat-primary {
    font-family: 'Montserrat', sans-serif;

    background-color: black;
    color: white; 
  }