<!-- <app-homepage-topbar></app-homepage-topbar> -->


<mat-card class = "custom">
  <!-- The Header: Logo and Name -->
  <mat-card-header>
    <div class="header">
      <img mat-card-image src="../../assets/images/logo1.png" style="width:50px;height:50px;"> 
      <h1 class="title">OrgPro</h1>
    </div>
  </mat-card-header>

  <!-- The Divider -->
  <mat-divider></mat-divider>
  
  <!-- Card Contents -->
  <mat-card-content>

  <!-- The login tab -->
  <mat-tab-group class ="mat-stretch-tabs">
    <mat-tab label="Login" color="black"> 
      <div>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput #loginEmail>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" >
          <mat-label>Password</mat-label>
          <input matInput #loginPassword type="password">
        </mat-form-field>
      </div>
      
      <div>
        <div class="inner"> 
          <button mat-stroked-button (click)="signInWithEmailPassword(loginEmail.value, loginPassword.value)"> Login </button>   
        </div>
        <div class="inner"> 
          <button mat-stroked-button (click)="loginWithGoogle()"> Login With Google </button>   
        </div>
      </div>
     
    </mat-tab>

    <!-- The Signup Tab -->
    <mat-tab label="Sign Up"> 
      <div>
        <br>
        <mat-form-field appearance="fill" >
          <mat-label>Email</mat-label>
          <input matInput #signupEmail>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput #signupPassword type="password">
        </mat-form-field>
      </div>
      <div> 
        <button mat-stroked-button color="black" (click)="signUpWithEmailPassword(signupEmail.value, signupPassword.value)"> SignUp </button> 
      </div>
    </mat-tab>
  </mat-tab-group>
  </mat-card-content>

</mat-card>
