
<mat-card class = "custom">
  <!-- The Header: Logo and Name -->
  <mat-card-header>
    <div class="header">
    <mat-card-title style="font-family: 'Montserrat', sans-serif;">WELCOME TO ORG<b>PRO</b></mat-card-title>
    </div>
  </mat-card-header>

  <!-- The Divider -->
  <mat-divider></mat-divider>
  
  <!-- Card Contents -->
  <mat-card-content>

  <!-- The login tab -->
  <mat-tab-group class ="mat-stretch-tabs">
    <mat-tab label="Login" style="color:black"> 
      <div>
        <br>
        <mat-form-field appearance="fill">
          <mat-label style="font-family: 'Montserrat', sans-serif;" >Email</mat-label>
          <input matInput #loginEmail>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" >
          <mat-label style="font-family: 'Montserrat', sans-serif;" >Password</mat-label>
          <input matInput #loginPassword type="password">
        </mat-form-field>
      </div>
      
      <div>
        <div class="inner"> 
          <button mat-stroked-button (click)="signInWithEmailPassword(loginEmail.value, loginPassword.value)"> Login </button>   
        </div>
        <div class="inner"> 
          <button mat-stroked-button (click)="loginWithGoogle()"> Login With Google </button>   
        </div>
      </div>
     
    </mat-tab>
    
    <!-- The Signup Tab -->
    <mat-tab label="Sign Up" style="color:black"> 
      <form action="">
        <div>
            <br>
            <mat-form-field appearance="fill" >
              <mat-label style="font-family: 'Montserrat', sans-serif;" >Org Name</mat-label>
              <input matInput #signupOrgName required>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </div>
        <div>
        <br>
        <mat-form-field appearance="fill" >
          <mat-label style="font-family: 'Montserrat', sans-serif;" >Email</mat-label>
          <input matInput #signupEmail required>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        </div>
        <div>
        <mat-form-field appearance="fill">
          <mat-label style="font-family: 'Montserrat', sans-serif;" >Password</mat-label>
          <input matInput #signupPassword type="password" required>
        </mat-form-field>
        </div>
        <div style="display:inline-block">
          <mat-form-field appearance="50%">
            <mat-label style="font-family: 'Montserrat', sans-serif;" >First Name</mat-label>
            <input matInput #signupFirstName type="name" required>
          </mat-form-field>
        </div>
        <div style="display:inline-block">
            <mat-form-field appearance="50%">
              <mat-label style="font-family: 'Montserrat', sans-serif;" >Last Name</mat-label>
              <input matInput #signupLastName type="name" required>
            </mat-form-field>
        </div>
        <div style="border-color: black; width:100%;border-style: solid;">
          <div style="display: inline;">
            Set Profile Picture  
          </div>
          
          <div style="display: inline;float:right;">
            <input type="file" (change)="uploadProfilePic($event)" accept=".png,.jpg" />
          </div>
         
        </div>

        <br>
        <button value="Signing up an org?" (click)="signUpOrgButtonClicked()">Click this button if you're signing up an org</button>
        <br>
        <br>

        <div *ngIf="signingUpOrg">
            <div style="display: inline;">
                Set Org Logo
            </div>
            <div style="display: inline;float:right;">
                <input type="file" (change)="uploadOrglogo($event)" accept=".png,.jpg" />
              </div>
        </div>

        <br>

        <div style="text-align: center"> 
        <input type="submit" style="background-color: #ffb500; font-size: 15px; color: black; border-radius: 50%;" value="Sign Up" mat-stroked-button color="black" (click)="signUpWithEmailPassword(signupEmail.value, signupPassword.value, signupOrgName.value, signupFirstName.value + ' ' + signupLastName.value)"  > 
        </div>
    </form>
    </mat-tab>
  </mat-tab-group>
  </mat-card-content>

</mat-card>

