/* To remove mat-card-header-text which appears by default, it offsets the logo from the center */
:host /deep/ .mat-card-header-text {
    margin: 0;
}

:host{
    display:block;
}

.custom.mat-card{
    max-width: 350px;
    height: 300px;
    background-color: white;
}

.mat-card-header{
    background-color: white;
    justify-content: center;
}

/* For the text alongside the logo */
.header h1 {
    float: right;
    font-family: "Lucida Console";
    font-size: large;
    color:black;
    margin-left: 15px;
  }





  