
<mat-card class = "main-card">
    <div class="pic-name">
        <mat-card class = "detail-view-card sub-card" >
            <div class="details-header">
                <img src="../../assets/images/photo.png" style="width:100px;height:100px">
                <h1>Test Name not FB linked  </h1>    
            </div>
            <hr>

            <!-- The change profile pic button. Needs a function -->
            <div class="change-pic">
                <mat-card class="option-buttons-card">
                    <!-- Unlinked button. Needs to link to profile function-->
                    <button> Change profile picture</button>
                </mat-card>
            </div>


        </mat-card>
    </div>
</mat-card>
