
<mat-card class = "main-card">
    <div class="pic-name">
        <mat-card class = "detail-view-card sub-card" >
            <div class="details-header">
                    <div *ngIf="downloadURL | async; let url" >
                            <img [src]="url" alt="Image from AngularFireStorage" style="display:inline-block;max-width:160px;max-height:140px;width: auto;height: auto;">
                    </div>
                <!-- <img src="../../assets/images/photo.png" style="width:100px;height:100px" id="profilePic"> -->
                <h2>{{this.userName}}</h2>    
            </div>

            <!-- The change profile pic button. Needs a function -->
            <div class="change-pic">
                <!-- Unlinked button. Needs to link to profile function-->
                <!-- <button mat-button onClick="changeProfilePicture()"> Change profile picture</button> -->
                <p><input type="file" (change)="upload($event)" accept=".png,.jpg" id="proPic" style="display: none;"/></p>
                <p><button mat-button><label for="proPic" style="cursor: poointer;">Change Image</label></button></p>
            </div>
            <hr>
            
            <!-- The email section. Needs to be linked to FB -->
            <div class="contact-info">
                <label for="user-email">
                    Email
                </label>
                <h3 id="user-email"> {{this.userEmail}} </h3>
                <label for="user-pass">
                    Password
                </label>
                <h3 id="user-pass">**********</h3>
                <button mat-button> Change Password </button>
                <br>
            </div>

        </mat-card>

        <mat-card class= "list-view-card sub-card">
            <div class="attended-title-card">                 
                <div class="view-past-event">
                    <h2 class="mat-h2 mat-title">Attended Events</h2>
                </div>
            </div>

            <div class="event-table">
                <mat-card class="event-card">
                    <div>
                        <table mat-table #eventTable [dataSource]="dataSource" matSort>

                            <!--- Note that these columns can be defined in any order.
                                The actual rendered columns are set as a property on the row definition" -->
                        
                            <!-- Date Column -->
                            <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                            </ng-container>
                        
                            <!-- Title Column -->
                            <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Event Title </th>
                            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                            </ng-container>
                        
                            <!-- Org Column -->
                            <ng-container matColumnDef="org">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Organization </th>
                            <td mat-cell *matCellDef="let element"> {{element.org}} </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </mat-card>
            </div>

        </mat-card>

    </div>
</mat-card>
