
<mat-card class = "main-card">
    <div class="pic-name">
        <mat-card class = "detail-view-card sub-card" >
            <div class="details-header">
                <img src="../../assets/images/photo.png" style="width:100px;height:100px">
                <h1>Test Name not FB linked  </h1>    
            </div>
            <hr>

            <!-- The change profile pic button. Needs a function -->
            <div class="change-pic">
                <mat-card class="option-buttons-card">
                    <!-- Unlinked button. Needs to link to profile function-->
                    <button> Change profile picture</button>
                </mat-card>
            </div>
            <hr>
            
            <!-- The email section. Needs to be linked to FB -->
            <div class="contact-info">
                <h3>Email: User Email</h3>
                <br>
                <h3>Join Date: Date Joined</h3>
                <br>
            </div>

        </mat-card>

        <mat-card class= "list-view-card sub-card">
            <h1>Added sub card</h1>


        </mat-card>


    </div>
</mat-card>
