.main-card{
    margin: 10px;
    padding:5px;
    width : auto;
    height: 500px;
    display:flex; /* Needs check*/
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 1;
    background-color: rgb(245, 245, 245);
}
.pic-name{
    height: calc(100% - 5px);
    border: 0px;
    padding: 0;
    display:flex;
}

.details-header{
    height: 130px;
    text-align: center;
    margin: 10px;
}
.change-pic {
    margin: 5px;
    padding: 2px;
    text-align: center;
}

.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

.contact-info{
    height: 130px;
    text-align: left;
    margin: 10px;
}

.sub-card{
    margin:5px;
    height: auto;
}

.detail-view-card{
    width : 40%;
    padding: 5px;
    overflow: auto;
}

.option-buttons-card{
    margin-top:5px;
    height: 25px;
    padding: 8px;
}

.list-view-card{
    width: 60%;
    padding:5px;
    overflow: auto;
    /* display:grid;
    grid-template-columns: calc(34% - 9px) calc(66% - 6px);  /* Try fr instead of %*/
    /*grid-template-rows: 20px 40px 20px calc(100% - 120px);
    gap: 10px; */
    
}

table {
    width: 100%;
}
.event-table {
    text-align: left;
    font-size: 3vw;
}
th.mat-sort-header-sorted {
    color: black;
}
.example-container {
    height: 400px;
    overflow: auto;
}
.events-header{
    height: 130px;
    text-align: center;
    margin: 10px;
}
.attended-title-card{
    margin-top:5px;
    height: 20px;
    padding: 8px;
}
.view-past-event {
    text-align: left;
}

.event-card {
    height: auto;
    padding: 10px;
    margin-top: 15px;
}
.boxed {
    border: 1px solid green ;
}