<!-- <div class="container full-page-container">
    <app-homepage-topbar></app-homepage-topbar>
</div>

<div class="pageContainer">
  <div class="sideNavContainer">
    <app-org-pro-dashboard (orgChanged)="handleOrgChange($event)"></app-org-pro-dashboard>
  </div>
  <div class="pageContent" >
    <app-orgdashboard [orgInView]="currentOrg"> </app-orgdashboard>
  </div>
</div> -->




<div style="position: relative;">
    <div style="width:100%;z-index: 1; opacity: 0.2;" id="orgdashboard">
        <div class="container full-page-container">
            <app-homepage-topbar></app-homepage-topbar>
        </div>
        
        <div class="pageContainer">
            <div style="width: 250px;height:120px;margin:auto;margin-top: 5px; background-color: green;text-align: center;color: white">
              <button (click)="orgToChoose()"> Switch Org</button>
              <div style="width: 150px;height:100%;margin:auto;margin-top: 5px; background-color: #FFD12f">
                ORG LOGO
              </div>
            </div>
            
            
          <div class="pageContent" style="background-color: #202020">
            <app-orgdashboard [orgInView]="currentOrg"> </app-orgdashboard>
          </div>
        </div>
    </div>

    <div *ngIf="needToChooseOrg" style="position: absolute;background-color: #202020;width: 600px;height: 600px;z-index: 2;top:27%;left: 35%;">
        <button mat-stroked-button style="margin-left:0%; padding:0;color:white" (click)="orgChose()">
            <mat-icon>close</mat-icon>
        </button>

        <app-org-pro-dashboard (orgChanged)="handleOrgChange($event)" (orgChangedClicked)="handleOrgChangeClicked($event)"></app-org-pro-dashboard>  
        <br>
        <br>

        <div style="background-color:#404040;margin-left:15%;margin-right: 15%;border-radius: 20px;height:200px"> 
            <h2 style="font-family: 'Montserrat', sans-serif; text-align: center;color:#f4c430"> Pending Invites </h2>
        </div>
      </div>
</div>


