

.dashboard-title {
    
    font-family: 'Montserrat', sans-serif;
}

.pay-dues .title{
    margin: auto;
    max-width: 400px;
    position: relative;
    top: -50px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.feedback .title{
    top: -50px;
    margin: auto;
    max-width: 400px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}