
h3 {
    font-family: 'Montserrat', sans-serif;
}
.pay-dues .title{
    margin: auto;
    max-width: 400px;
    position: relative;
    top: -50px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.feedback .title{
    top: -50px;
    margin: auto;
    max-width: 400px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.pageContainer {
  
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  
}

.sideNavContainer {
  display: flex;
  width: 30%;
  background-color: grey;
 
}

.pageContent {
  display: flex;
  width: 70%;
}
