.container-full-page-container { 
    margin: auto;
  width: 50%;
}
.row.heading h2 {
    color: black;
    font-size: 52.52px;
    font-family: 'Montserrat', sans-serif;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
  font-family: 'Montserrat', sans-serif;

}
.heading.heading-icon {
    display: block;
}
.padding-lg {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
     border:1px solid #999999; 
     text-align:center; 
     font-family: 'Montserrat', sans-serif;

	 margin-bottom:28px; 
	 padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
	font-size:24px; 
	font-weight:500;
	font-family: 'Montserrat', sans-serif;

	padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
	line-height:22px; 
    font-weight:400;
    font-family: 'Montserrat', sans-serif;

}
.practice-area .inner img{
	display:inline-block;
}

.our-webcoderskull .cnt-block{ 
   float:left; 
   width:100%; 
   background:#fff; 
   padding:30px 20px; 
   text-align:center; 
   border:2px solid #d5d5d5;
   margin: 0 0 28px;
   font-family: 'Montserrat', sans-serif;

}
.our-webcoderskull .cnt-block figure{
   width:148px; 
   height:148px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:20px; 
   font-weight:500; 
   font-family: 'Montserrat', sans-serif;

   padding:6px 0;
   text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;

	color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
	color:#337ab7;
}
.our-webcoderskull .cnt-block p{ 
   color:#2a2a2a; 
   font-size:13px; 
   font-family: 'Montserrat', sans-serif;

   line-height:20px; 
   font-weight:400;
}

.orgpro {
    font-family: 'Montserrat', sans-serif;
}

.eboard-container{
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}
#eboard-container .officer {
    width: 300px;
    height: 100px;
    display: inline-block;
    color: #333;
    text-align: left;
    transition: transform .1s;
}
#eboard-container .officer img{
    margin:25px 10px 0;
    height:70px;
    width:70px;
    border:2px solid #eaeaea;
    display:inline-block;
    border-radius:50%;
}
#eboard-container .officer .info{
    display:inline-block;
    vertical-align:top;width:200px
}
#eboard-container .officer .info h2{
    margin:0;
    padding:0;
    margin-top:35px;
    font-weight:600;
    display:inline-block;
    font-size:1.3em;
    line-height:1.8em;
    font-family: 'Montserrat', sans-serif;
}