
<mat-card class = "custom">
    <!-- The Header: Logo and Name -->
    <mat-card-header>
      <div class="header">
        <img mat-card-image src="../../assets/images/about-us.png"> 
        <h1 class="title">  About Us</h1>
      </div>
    </mat-card-header>
  
    <!-- The Divider -->
    <mat-divider></mat-divider>
    
    <!-- Card Contents -->
    <mat-card-content>
        <p>
            OrgPro is an online platform that allows student organizations 
            to showcase organizational information and manage their memberships.
            OrgPro help student organizations with logistics by providing single platform
            to communicate with all members, diseminate the information about events to all members 
            and help keep track of all members due in easy and efficient way.
        </p>

        <p>
            Some major features of OrgPro provides for organization members are:
        </p>

        <ul>
            <li>View Organization's events calendar</li>
            <li>RSVP for organization events</li>
            <li>View events they attended in past</li>
            <li>Check-in at events with QR code</li>
            <li>View their rank in the orgnizaion</li>
            <li>View the top ranked members</li>
            <li>View and pay their dues</li>
            <li>View their payment history</li>
        </ul>
    </mat-card-content>
  
  </mat-card>
  