<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<app-homepage-topbar></app-homepage-topbar>
<div class="container-full-page-container">
  <div class="row heading heading-icon"> 
    <h2 class = "about-title">About ORG PRO</h2>
    
  </div>
  <p class="orgpro">
    As a student chapter of the international 
    <a href="https://www.acm.org" target="_BLANK">Association for Computing Machinery,</a>  
    
    ACM at Howard is the only Computer Science student organization at Howard University. We welcome students of all different backgrounds and skill levels to join our community and share in our passion for CS!
    With events such as infosessions, workshops, speaker panels, hackathons, and competitions, we cover a variety of topics including artificial intelligence, virtual reality, cybersecurity, app development, diversity initiatives, community outreach, and much more.
    
    At ACM, we aim to develop students’ technical and professional skills while cultivating an inclusive and supportive community for everyone interested in computer science, regardless of major or experience.

    
  </p> 
<h3 style="font-family: 'Montserrat', sans-serif;">How do I get involved?</h3>
<p style="font-family: 'Montserrat', sans-serif;"> No matter what your background or major is, we welcome you to participate in all of our events and activities!
  To become a member and keep up with upcoming events, you should join our membership portal, follow our social medias, and sign up for our newsletter. Signing up will keep you up to date with everything ACM, and earning points on the portal might even earn you a prize!
  </p>

<div id="eboard-container">
  <h2 style="font-family: 'Montserrat', sans-serif;">The Eboard</h2>
  <div class="officer">
    <img src="/assets/images/eboard/prince-akachi-J1OScm_uHUQ-unsplash.jpg">
    <div class="info">
      <h2 style="font-family: 'Montserrat', sans-serif;">Fleurevca Francois</h2>
      <br>
      <p style="font-family: 'Montserrat', sans-serif;">President</p>
    </div>
  </div>
  <div class="officer">
    <img src="/assets/images/eboard/prince-akachi-J1OScm_uHUQ-unsplash.jpg">
    <div class="info">
      <h2 style="font-family: 'Montserrat', sans-serif;">Fleurevca Francois</h2>
      <br>
      <p style="font-family: 'Montserrat', sans-serif;">President</p>
    </div>
  </div>
  <div class="officer">
    <img src="/assets/images/eboard/prince-akachi-J1OScm_uHUQ-unsplash.jpg">
    <div class="info">
      <h2 style="font-family: 'Montserrat', sans-serif;">Fleurevca Francois</h2>
      <br>
      <p style="font-family: 'Montserrat', sans-serif;">President</p>
    </div>
  </div>
  <div class="officer">
    <img src="/assets/images/eboard/eboard.jpg">
    <div class="info">
      <h2 style="font-family: 'Montserrat', sans-serif;">Fleurevca Francois</h2>
      <br>
      <p style="font-family: 'Montserrat', sans-serif;">President</p>
    </div>
  </div>
</div>

</div>
