<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<app-homepage-topbar></app-homepage-topbar>
<div class="container full-page-container">
  <div class="row heading heading-icon"> 
    <h2 class = "about-title">About OrgPro</h2>
  </div>
 
  <h1>What is OrgPro?</h1>
  <p>OrgPro is an online platform that allows student organizations 
    to showcase organizational information and manage their memberships.
    OrgPro help student organizations with logistics by providing single platform
    to communicate with all members, diseminate the information about events to all members 
    and help keep track of all members due in easy and efficient way.
</p>
<h3>What features are available?</h3>
<p>Some feature available to organizations and members through OrgPro include:</p>
<ul>
  <li>View Organization's events calendar</li><mat-divider></mat-divider>
  <li>RSVP for organization events</li><mat-divider></mat-divider>
  <li>View events they attended in past</li><mat-divider></mat-divider>
  <li>Check-in at events with QR code</li><mat-divider></mat-divider>
  <li>View their rank in the orgnizaion</li><mat-divider></mat-divider>
  <li>View the top ranked members</li><mat-divider></mat-divider>
  <li>View and pay their dues</li><mat-divider></mat-divider>
  <li>View their payment history</li>
</ul>
<mat-divider></mat-divider>

<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <h2>Our Team</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Kishor Subedi</a></h3>
            <p>Full Stack Developer</p>
            
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure>
            <h3><a href="#">Anita Calmday </a></h3>
            <p>Frontend Developer + SCRUM Master</p>
          
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/"> Sudarshan </a></h3>
            <p>Backend Developer</p>
            
          </div>
       </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="http://www.webcoderskull.com/img/team2.png" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/"> Fleurevca Francois </a></h3>
            <p> Backend Developer</p>
           
          </div>
      </li>
    </ul>
  </div>
</section>
</div>
