<div class="container full-page-container">
    <app-homepage-topbar></app-homepage-topbar>
    <h2 class="acm-event-header"><b>EVENT CALENDAR</b></h2>
    <p class = "text-p">Our events are open to everyone, regardless of major, background, or experience!

    </p>

    <div class='app-calendar' *ngIf="calendarVisible">
        <full-calendar 
            #calendar    
            defaultView="dayGridMonth"
            [header]="{
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
            }"
            [googleCalendarApiKey]='goCalendarApiKey'
            [plugins]="calendarPlugins"
            [weekends]="calendarWeekends"
            [events]="calendarEvents"
        ></full-calendar>
    </div>



</div>
