<!-- The Main Outer Box -->
<mat-card class = "main-card">
    <div class = "content-div">
        <!-- Card that shows members detail -->
        <mat-card class = "detail-view-card sub-card darkBlackBackground" >
            <!-- The header: Photo and name -->
            <div id="parent" style="height:100px">
                <div id="wide">
                    <div *ngIf="downloadURL | async; let url">
                        <img [src]="url" alt="Image from AngularFireStorage" style="display:block;margin:auto;max-width:180px;max-height:200px;width: auto;height: auto;border:1px solid black;">
                    </div>
                </div>
                <div class="lightBlackBackground" id="narrow" style="border:1px solid black;">
                    <br>
                    <div class="whiteText" style="font-size: x-large;text-align: center" *ngIf="this.userInView">   {{this.userInView.name}}         <div class="greyText" style="font-weight: normal;font-size: small;"> {{this.userInView.email}} </div>  </div>
                    <br>
                    <div class ="greyText" *ngIf="this.userInView" style="font-size: small;text-align: center" >     Joined:    Date joined  </div>
                </div>
            </div>
            <br>
            <br>
            <!-- Details -->
            <mat-card class="lightBlackBackground">
                <br>
                <div class="white" style="font-size: 22px;"> Events Attended: </div>
                <br>
                <div class style="margin: 10px;
                padding:5px;
                width : auto;
                display:flex; /* Needs check*/
                flex-direction: column;
                justify-content: flex-start;
                flex-shrink: 1;">
                        <mat-card class="lightBlackBackground">
                            <div class="lightBlackBackground" style="width: 100%; height:330px">
                                <table class="lightBlackBackground" mat-table #eventTable [dataSource]="dataSource" matSort>
        
                                    <!--- Note that these columns can be defined in any order.
                                        The actual rendered columns are set as a property on the row definition" -->
                                
                                    <!-- Date Column -->
                                    <ng-container matColumnDef="date" >
                                    <th style= "font-size : 22px" class="white" mat-header-cell *matHeaderCellDef mat-sort-header style="width: 45%;"> Date </th>
                                    <td style= "font-size : 22px" class="white" mat-cell *matCellDef="let element"> {{element.date}} </td>
                                    </ng-container>
                                
                                    <!-- Title Column -->
                                    <ng-container matColumnDef="title" style="width: 33%">
                                    <th class="white" mat-header-cell *matHeaderCellDef mat-sort-header> Event Title </th>
                                    <td class="white" mat-cell *matCellDef="let element"> {{element.title}} </td>
                                    </ng-container>
                                
                                    <!-- Org Column -->
                                    <ng-container matColumnDef="org" style="width: 33%">
                                    <th class="white" mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
                                    <td class="white" mat-cell *matCellDef="let element"> {{element.location}} </td>
                                    </ng-container>
                                
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </mat-card>
                    </div>
            </mat-card>
            
            <!-- Options -->
            <!-- <div *ngIf="Admin | async"> -->
            <div *ngIf="Admin | async">

                    <mat-card class="option-buttons-card lightBlackBackground">
                            <!-- If the this.userInView is in this.members, show "Make this member an admin button" -->
                            <button class = "whiteText" *ngIf="this.members && this.members.indexOf(this.userInView) >= 0" (click)="confirmMakeAdmin()"> Make this member an admin </button>
                            <button class = "whiteText" *ngIf="this.members && this.members.indexOf(this.userInView) >= 0" (click)="confirmRemoveMember()" style="background-color: #EE310C ">Remove their membership</button>
                            <button class = "whiteText" *ngIf="this.admins && this.admins.indexOf(this.userInView) >= 0" (click)="confirmDemoteAdmin()"> Demote this admin to member</button>
            
                        </mat-card>
            </div>
           
        </mat-card>

        <!-- The card that contains search, options and lists -->
        <mat-card class="list-view-card sub-card" style="background-color: black">
            
            <!-- The search box -->
            <input style="width:100%;height:30px;"class="form-control serach-bar-text-area" type="text" name="search" [(ngModel)]="searchText" (ngModelChange)="updateInDisplay()" autocomplete="off" placeholder="Search People in this Org">
            
            <!-- Make admin and invite options -->
            <mat-card  *ngIf="Admin | async" class = 'grid-card'>
                <input style="height:30px" #adminEmail type="text" placeholder="Search Admin Email">
                <br>
                <button (click)="confirmMakeAdmin(adminEmail.value)"> Make Admin </button>
            </mat-card>
            <mat-card *ngIf="Admin | async" class = 'grid-card'>
                <input style="height:30px" #inviteEmail type="text" placeholder="Search Member Email"> 
                <br>
                <button (click)="confirmInviteMember(inviteEmail.value)" > Invite </button>
            </mat-card>


            <!-- Titles -->
            <mat-card class="title-cards grid-card">
                Admins
            </mat-card>
            <mat-card class="title-cards grid-card">
                Users
            </mat-card>

            <!-- lists -->
            <mat-card [ngStyle]="(Admin | async) && {'height': '505px'}" class = "list-card grid-card">
                <mat-grid-list cols="1" rowHeight="50px" gutterSize="3px" >
                    <mat-grid-tile *ngFor='let admin of adminsInDisplay'
                        (click)="handleUserClick(admin)"
                        [colspan]="1"
                        [rowspan]="1">
                        {{ admin.name }}
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
            <mat-card [ngStyle]="(Admin | async) && {'height': '505px'}" class = "list-card grid-card">
                <mat-grid-list cols="2" rowHeight="50px" gutterSize="3px" >
                    <mat-grid-tile *ngFor='let member of membersInDisplay'
                        (click)="handleUserClick(member)"
                        [colspan]="1"
                        [rowspan]="1">
                        {{ member.name }}
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
        </mat-card>
    </div>
</mat-card>

