
.main-card{
    margin: 10px;
    padding:5px;
    width : auto;
    display:flex; /* Needs check*/
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 1;
}

.mat-card-header{
    margin:10px 10px 0px 10px;
}

.content-div{
    border: 0px;
    padding: 0;
    display:flex;
    flex-direction: row;
}

.sub-card{
    margin:5px;
    height: 300px;
}

.detail-view-card{
    width : 40%;
    padding: 5px;
    overflow: auto;
}

.list-view-card{
    width: 60%;
    padding:5px;
    display:grid;
    grid-template-columns: calc(34% - 9px) calc(66% - 6px);  /* Try fr instead of %*/
    grid-template-rows: 20px 40px 10px calc(100% - 100px);
    gap: 10px;
    
}

.search-div{
    height:10%;
    width: 99%;
    margin-bottom: 10px;
    margin-top: 8px;
    flex-shrink: 0;
    flex-grow: 0;
}

.serach-bar-text-area{
    height: 100%;
    width: 100%;
}

.lists-container-div-outer{
    height : 87%;
    width : 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.options{
    height : 20%;
    display: flex;
    flex-direction: row;
}

.make-admin-card{
    height: 99%;
    width: 32%;
    margin: 5px;
    padding: 5px;
}

.invite-card{
    height: 99%;
    width: 62%;
    margin:5px;
    padding: 5px;
}

.lists-container-div{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    height: 75%;
}

.admins-list-card{
    width:31%;
    height: 90%;
    padding: 8px;
    overflow:auto;
    flex-shrink: 0;
    flex-grow: 0;
}

.users-list-card{
    width:61%;
    height: 90%;
    padding:8px;
    overflow:auto;
    flex-shrink: 0;
    flex-grow: 0;
}


.mat-grid-tile {
    border: solid 0.5px #000;
    justify-content: left;
    margin : 5px;
}

.mat-grid-list {
    padding: 5px;
}

/* .list-title{
    position: absolute;
} */