.main-card{
    margin: 10px;
    padding:5px;
    width : auto;
    height: 500px;
    display:flex; /* Needs check*/
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 1;
    background-color: rgb(245, 245, 245);
}

.mat-card-header{
    margin:10px 10px 0px 10px;
}

.content-div{
    height: calc(100% - 45px);
    border: 0px;
    padding: 0;
    display:flex;
}

.sub-card{
    margin:5px;
    height: auto;
}

.detail-view-card{
    width : 40%;
    padding: 5px;
    overflow: auto;
}

.details-header{
    height: 130px;
    text-align: center;
    margin: 15px;
}

.details-card{
    height: calc(100% - 205px);
}

.list-view-card{
    width: 60%;
    padding:5px;
    display:grid;
    grid-template-columns: calc(34% - 9px) calc(66% - 6px);  /* Try fr instead of %*/
    grid-template-rows: 20px 40px 20px calc(100% - 120px);
    gap: 10px;
    
}

.serach-bar-text-area{
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    /* margin: 5px; */
}

.grid-card{
    height: 99%;
    width: 98%;
    margin:0px;
    padding: 5px;
}

.grid-card input[type=text]{
    width:99%
}

.title-cards{
    background-color: rgb(85, 83, 83);
    color: white;
}

.list-card{
    overflow:auto;
}

.mat-grid-tile {
    border: solid 0.5px #000;
    margin : 0px;
}