.main-card{
    margin: 10px;
    padding:5px;
    width : auto;
    height: 725px;
     /* Needs check*/
    flex-direction: row;
    justify-content: flex-start;
    flex-shrink: 1;
    background-color: #202020;
}

.mat-card-header{
    margin:10px 10px 0px 10px;
}

.content-div{
    height: calc(100% - 45px);
    border: 0px;
    padding: 0;
    display:flex;
}

.sub-card{
    margin:5px;
    height: auto;
}

.detail-view-card{
    width : 40%;
    padding: 5px;
    overflow: auto;
}

.details-header{
    height: 130px;
    text-align: center;
    margin: 10px;
}

.details-card{
    height: calc(100% - 240px);
}

.option-buttons-card{
    margin-top:5px;
    height: 25px;
    padding: 8px;
}

.list-view-card{
    width: 60%;
    padding:5px;
    display:grid;
    grid-template-columns: calc(34% - 9px) calc(66% - 6px);  /* Try fr instead of %*/
    grid-template-rows: max-content max-content max-content max-content;
    /* grid-template-rows: 20px 40px 20px calc(100% - 120px); */
    gap: 10px;
    
}

.serach-bar-text-area{
    height: 20px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    /* margin: 5px; */
}

.grid-card{
    height: 99%;
    width: 98%;
    margin:0px;
    padding: 5px;
}

.grid-card input[type=text]{
    width:99%
}

.title-cards{
    background-color: rgb(85, 83, 83);
    color: white;
    height: 20px;
}

.list-card{
    overflow:auto;
    height : 565px;
}

.mat-grid-tile {
    border: solid 0.5px #000;
    margin : 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

 .active{
    background-color: #4CAF50;
 }

 #parent {
    display: flex;
  }
  #narrow {
    width: 200px;
    /* Just so it's visible */
  }
  #wide {
    flex: 1;
    /* Grow to rest of container */
    /* Just so it's visible */
  }

  .event-card {
    height: auto;
    padding: 10px;
    margin-top: 15px;
}
.event-table {
    text-align: left;
    font-size: 3vw;
}

.darkBlackBackground {
    background-color: #202020;
}

.lightBlackBackground {
    background-color: #404040;
}

.whiteText{
    color: white;
}

.greyText{
    color:#808080;
}

.darkYellow{
    color: #f4c430;
}

.lightYellow{
    color:#FFD12f;
}

